@page
@model GroundUp.Api.Pages.Memberships.CreateMembershipModel
@{
}

<div style="max-width: 800px; margin: auto; card">
    <form method="POST" asp-page-handler="Create">

        <input asp-for="CreateMembershipViewModel.ClientId" hidden />

        <input asp-for="ClientId" hidden />
        <input asp-for="ClientName" hidden />
        <div class="card">

            <div class="p-4 border-bottom">

                <h4 class="text-center">New Membership for: <strong>@Model.ClientName</strong> </h4>
            </div>

            <div class="p-4 border-bottom">

                <div class="row mb-2 mt-2">
                    <div class="form-group col-md-6">

                        <label asp-for="CreateMembershipViewModel.MembershipTypeId" class="mb-2">Membership Type</label>
                        <select asp-for="CreateMembershipViewModel.MembershipTypeId" asp-items="Model.MembershipTypes" class="form-select" aria-label="Default select example">
                            <option value="">-- Select --</option>
                        </select>
                        <div>
                            <span asp-validation-for="CreateMembershipViewModel.ClientId" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="CreateMembershipViewModel.SessionCount" class="mb-2">Session Count</label>
                        <input asp-for="CreateMembershipViewModel.SessionCount" type=" text" class="form-control" placeholder="Session count">
                        <small class="form-text text-muted">Enter count of sessions.</small>
                        <div>
                            <span asp-validation-for="CreateMembershipViewModel.SessionCount" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="form-group col-md-6">
                        <label asp-for="CreateMembershipViewModel.From" class="mb-2">Start Date</label>
                        <input asp-for="CreateMembershipViewModel.From" class="form-control">
                        <small class="form-text text-muted">Enter start date.</small>
                        <div>
                            <span asp-validation-for="CreateMembershipViewModel.From" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="p-4 border-bottom row">
                <div class="col-md-2">
                    <a  class="btn btn-outline-danger w-100" asp-page="/Clients/Details" asp-route-id="@Model.ClientId">Back</a>
                </div>
                <div class="col-md-2 offset-8">
                    <button type="submit" class="btn btn-outline-secondary w-100">Save</button>
                </div>
            </div>
        </div>

    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}