@page
@model GroundUp.Api.Pages.Memberships.UpdateModel
@{
}

<div style="max-width: 800px; margin: auto" >
    <form method="POST" >
        <div class="card">

            <input asp-for="Update.Id" id="Update.Id" hidden />
            <input asp-for="Update.MembershipId" id="Update.MembershipId" hidden />
            <div class="py-4 border-bottom">
                <h4 class="text-center">@Model.FirstName @Model.LastName</h4>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>
            <div class="p-4 border-bottom">
                <div class="row  mb-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Update.Start" class="my-2">Start</label>
                            <input asp-for="Update.Start" id="Update.Id" class="form-control" type="datetime-local" />
                        </div>
                        <small class="form-text text-muted">Note, system automatically ignores minutes and seconds and will adjust Start and End time of session.</small>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Update.End" class="my-2">End</label>
                            <input asp-for="Update.End" id="Update.End" class="form-control" type="datetime-local" readonly />
                        </div>
                    </div>
                </div>

                <div class="row mb-4">

                    <div class="col-md-6">
                        <div class="form-group form-check">
                            <label class="form-check-label" for="Updatel.IsCancelled">Is cancelled?</label>
                            <input asp-for="Update.IsCancelled" id="Update.IsCancelled" class="form-check-input" type="checkbox"/>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Update.Comment" class="mb-2">Comment</label>
                            <textarea asp-for="Update.Comment" id="Update.Comment" class="form-control" rows="6"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="p-4">
                <div class="row">

                <div class="col-md-2">
                    <button class="btn btn-outline-danger w-100" asp-page-handler="Delete"><i class="fa fa-trash"></i></button>
                </div>
                <div class="col-md-2 offset-8">
                    <button  class="btn btn-outline-secondary w-100" asp-page-handler="Update"><i class="fa fa-floppy-disk"></i></button>
                </div>
            </div>

            </div>
        </div>

    </form>
</div>
