<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ground Up</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>


<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="d-flex flex-row justify-content-between align-items-center flex-grow-1 p-2">
                <a class="header-logo px-2" asp-area="" asp-page="/Index">GROUND UP</a>
                <button data-bs-target="#sidebar" data-bs-toggle="collapse" class="btn btn-default"><i class="fa-solid fa-bars"></i> </button>
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto px-0">
                <div id="sidebar" class="collapse collapse-horizontal show border-end">
                    <div id="sidebar-nav" class="list-group border-0 rounded-0 text-sm-start min-vh-100">
                        <a class="list-group-item border-end-0 d-flex flex-row align-items-center text-truncate p-2" data-bs-parent="#sidebar" asp-page="/Index"><i class="fa-solid fa-home p-2"></i> <span>Home</span> 
                            </a>
                        <a class="list-group-item border-end-0 d-flex flex-row align-items-center text-truncate p-2" data-bs-parent="#sidebar" asp-page="/Calendars/Index"><i class="fa-solid fa-calendar p-2"></i> <span>Calendar</span> </a>
                        <a class="list-group-item border-end-0 d-flex flex-row align-items-center text-truncate p-2" data-bs-parent="#sidebar" asp-page="/Clients/Index"><i class="fa-solid fa-users p-2"></i> <span>Clients</span> </a>
                        <a class="list-group-item border-end-0 d-flex flex-row align-items-center text-truncate p-2" data-bs-parent="#sidebar" asp-page="/MembershipTypes/Index"><i class="fa-solid fa-home p-2"></i> <span>Types</span> </a>
                        <a class="list-group-item border-end-0 d-flex flex-row align-items-center text-truncate p-2" data-bs-parent="#sidebar" asp-page="/Memberships/Index"><i class="fa-solid fa-dumbbell p-2"></i> <span>Memberships</span> </a>
                    </div>
                </div>
            </div>
            <main class="col ps-md-2 pt-2">
                @RenderBody()
            </main>
        </div>
    </div>

    <div>
    </div>

    <script src="~/lib/chartjs/chart.umd.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>